$black: #000;
$secondary_black: #080808;
$white: #fff;
$blue: #1eb6ff;
$blue_shade1: #18448e;
$blue_focus: #4ac3ff;
$dark_blue: #0087da;
$light_blue: #83d7f9;
$green: #a2d729;
$dark_green: #397c00;
$error: #b10221;
$red: #b00020;
$red_shade1: #c5211e;
$success: #7ab212;
$grey: #f8f9fa;
$dark_grey: #e9e9e9;
$light_green: #e5f3c4;
$light_red: #f5dce0;
$grey_shade1: #dfdfdf;
$grey_shade2: #6d6d6d;
$grey_shade3: #919191;
$grey_shade4: #fafafa;
$grey_shade5: #f2f2f2;
$grey_shade6: #d3d1d2;
$grey_shade7: #F7F7F8;
$warning: #f46d05;
$yellow_shade:#EFA636;

// New theme
$clear_white: #fff;
$deep_blue: #02071b;
$clear_blue: #0078d7;
$clear_blue16: #e7f9fb;
$primary_hover_darker: #0064b2;
$cta_green: #2ef79f;
$danger_red: #ef3e36;
$warning_yellow: #ffa400;
$mute_blue: #a3d5ff;
$mute_gray: #dddddd;
$dark_gray: #aaaaaa;
$input_bg: #f3f3f3;
$black60: #5e5e5e;
$black40: #8e8c8d;
$black20: #cccccc;
$black10: #e5e5e5;
$black5: #787878;
$input_bg_hover: #e5e5e5;
$white_shade1: #fbfbfb;
$light_blue_shade1: #4fa7f0;
$light_blue_5: #f3f9fd;
$light_green_shade1: #16d17f;
$grey80: #c8c9cd;
$border-color: #999;
$input_disabled: #b3b3b3;
$green_status: #369F2F;
$green_secondary: #6FDD67;
$warning_color: #E58815;
$danger_color: #E43028;
$highlighted-row: rgba(57, 168, 255, 0.1);