<header (window:resize)="onResize()">
  <div class="menu-block">
    <div class="left-header">
      <a href="javascript:void(0)" class="logo">
        <img src="assets/images/logo_oc.svg" alt="">
      </a>

      <div class="mobile-nav">

        <nav>
          <ul>
            <li routerLinkActive="active">
              <a routerLink="/home" title="Automation" id="automation">Automation</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/datasource" title="datasource" id="datasource">Data Sources</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="right-header">
      <div class="icon-block">
        <!-- Profile -->
        <button mat-button class="profile rounded-mat-button" [matMenuTriggerFor]="user_profile">
          <!-- <img *ngIf="false" src="" alt="" /> -->
          <i>JH</i>
        </button>
        <mat-menu backdropClass="menuBackdrop" #user_profile="matMenu" class="profile-dropdown">
          <div class="panel-header">
            <h3>James</h3>
            <h4 i18n>Role</h4>
          </div>
          <div class="panel-body">
            <button mat-menu-item i18n>My profile</button>
          </div>
          <div class="panel-footer">
            <button mat-menu-item i18n routerLink="/login" id="logout">Logout</button>
          </div>
        </mat-menu>
      </div>
    </div>
  </div>

  <div class="hamburger-menu" (click)="menuToggle()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="menu-backdrop" (click)="closeMenu()"></div>

</header>