<div class="full-page-wrapper full-width">

    <a [routerLink]="['/login']" class="back_link" title="Username" i18n> <i class="material-icons">arrow_back</i>
        Username</a>

    <div class="square-box">
        <div class="head-wrapper has-form-bottom">
            <h1 i18n>Enter your password</h1>
            <p>Please enter your password to access the platform.</p>
        </div>
        <div class="content-wrapper">
            <form [formGroup]="userForm">
                <div class="input_with_inline_btn">
                    <div class="input_wrapper">
                        <mat-form-field appearance="outline">
                            <mat-label i18n>Password</mat-label>
                            <input formControlName="password" appAutoFocus="true" #password matInput
                                [type]="hide ? 'password' : 'text'" id="pass">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error class="errorMessage" *ngIf="userForm.controls['password'].getError('required')">{{errorMessage}}</mat-error>
                            <mat-error class="errorMessage" *ngIf="userForm.controls['password'].getError('invalid')">{{errorMessage}}</mat-error></mat-form-field>
                    </div>
                    <button id="submit" mat-button class="primary-btn" type="submit" (click)="submit()"><i
                            class="material-icons">arrow_forward</i></button>
                </div>

                <div class="button-wrapper top-small-space">
                    <a [routerLink]="['/auth/password/forgot-password']" class="text-btn" mat-button i18n>Forgot
                        password?</a>
                </div>
            </form>
        </div>
    </div>
</div>